body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav {
    background-color: #222;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #ffcc00; 
}


table[bgcolor="white"] {
    border-radius: 10px;
    border: 1px solid #ccc;
}



input[type="text"], input[type="email"], textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #777;
}

input[type="submit"] {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
